#mainnavbar {
	background-color: #ffad10;
}
nav img {
	width: 60px;
	height: 60px;
	padding-top: 5px;
	margin: 5px 10px 5px 20px;
	background-image: none;
}

.nav-button {
    text-decoration: none;
    position: relative;
    color: black;
    transition: transform 0.3s ease;
}

.nav-button:hover {
    transform: scale(1.2);
}